<header class="main_header">
    <div class="container">
        <div class="row page_title">
            <h1>Quotes I like from</h1>
        </div>
        <nav class="row menu_nav">
            <ul>
                <li *ngFor="let eachNav of navLinks">
                    <a [routerLink]="[eachNav.routerPath]" [ngClass]="eachNav.linkClass">
                        <i class="icon fa" [ngClass]="eachNav.iconClass" aria-hidden="true"></i><span>{{eachNav.linkLabel}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="container content_body active">
  <!-- <app-from-article [articles]="articles"></app-from-article> -->
  <router-outlet></router-outlet>
</section>
