<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [ngClass]="{active: !!globalData.selectedCategory || categoryDropdown.className == 'open'}">Quotes I Like From</a>
          </div>
      
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li dropdown [ngClass]="{active: !!globalData.selectedCategory}" #categoryDropdown>
                <a dropdownToggle class="dropdown-placeholder" [ngClass]="{selected: !!globalData.selectedCategory}">{{globalData.selectedCategory || "(Select)"}} <span class="caret"></span></a>
                <ul class="dropdown-menu" *dropdownMenu>
                  <li *ngFor="let eachNav of globalData.categories">
                    <a [routerLink]="[eachNav.reference]" class="dropdown-item" [routerLinkActive]="['active']" (click)="globalData.selectedCategory = eachNav.label;">
                      <span>{{eachNav.label}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" (click)="globalData.selectedCategory = '';">
              <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Dashboard</a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['addnewquote']">Add new Quote</a></li>
              <!-- <li><a>Search</a></li> -->
            </ul>
          </div>
        </div>
    </nav>
</header>

<section class="container content_body active">
  <router-outlet></router-outlet>
</section>