@import '../assets/_variables';

/*
 *  Styles - Header
 */

.navbar-inverse {
    background-color: #009688;
    border-color: #009688;
    border-radius: 0;
    a {
        color: #ffffff;
    }
    .dropdown-menu {
        left: -15px;
        background-color: #607D8B;
        & > li > a:focus, & > li > a:hover {
            background-color: #009688;
        }
    }
    .dropdown-placeholder {
        padding-left: 5px;
        font-style: italic;
        &.selected {
            font-size: 18px;
            font-style: normal;
        }
    }
    .navbar-brand {
        padding-right: 0;
        padding-left: 15px;
        &.active {
            background-color: #607D8B;
        }
    }
    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        &, &:hover, &:focus {
            background-color: #607D8B;
        }
    }
}

/*
 *  Styles - Page content
 */

.content_body {
    margin-top: 20px;
}

section.content_body {
    display: none;

    &.active {
        display: block;
    }
}